header {
  background: #ececec;
}

.title {
  color: #43444E;
  font-weight: bold;
  padding: 10px;
  font-size: 9pt;
  border-bottom: 1px solid rgb(122, 123, 136);
}
.pad {
  padding: 10px;
}
.spad {
  padding: 5px;
}

.content {
  display: flex;
}

.bookmarkList {
  flex-grow: 1;
}

.sidebar {
}

.sidebar section {
  padding: 10px;
}

.addItem form {
  display: flex;
  flex-flow: column;
}